@import 'navbar.css';
@import 'home.css';
@import 'col.css';
@import 'buttons.css';
@import 'bkg-animated.css';
@import 'about-me.css';
@import 'abilities.css';
@import 'projects.css';
@import 'contact.css';

:root {
    --black: #1a1e29;
    --grey: #333333;
    --blue: #132d49;
    --green: #01c38e;
    --white: #efefef;
    --white-full: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--black);
}

p {
    text-align: justify;
}

body {
    background-color: var(--white);

}

*::selection {
    background: var(--green);
}

html {
    scroll-behavior: smooth;
}

h2 {
    margin-bottom: 1rem;
}

.underline {
    text-decoration: underline wavy 2px var(--green);
    font-weight: 700;
}