@import 'navbar.css';
@import 'home.css';
@import 'col.css';
@import 'buttons.css';
@import 'bkg-animated.css';

:root {
    --black: #1a1e29;
    --blue: #132d49;
    --green: #01c38e;
    --white: #efefef;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--black);
}

p {
    text-align: justify;
}

body {
    background-color: var(--white);

}

*::selection {
    background: var(--green);
}

html {
    scroll-behavior: smooth;
}